body{
    background-color: lightgray;
}

table,td,th{
    border: solid 2px black;
    width: 500px;
    height: 100px;
    border-collapse: collapse;
    text-align: center;
}

p{
    text-indent: 20px;
}

a:hover{
    color: red;
}

a{
    text-decoration: none;
}

#cim{
    text-align: center;
}

#ossz{
    margin-right: auto;
    margin-left: auto;
    width: 1600px;
}