#Logo {
    border: whitesmoke;
    position: absolute;
    width: 100px;
    height: 60px;
}

#Auto {
    border: whitesmoke;
    position: absolute;
    left: 900px;
    top: 900px;
    width: 600px;
    height: 350px;
}
